<?xml version="1.0" encoding="utf-8"?>
<Configuration status="debug">
    <Properties>
        <Property name="layout">%d [%t] %-5level %logger - %m%n</Property>
    </Properties>
  
    <Appenders>
  
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}" />
        </Console>     

    </Appenders>
    
    <Loggers>

        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>    

    </Loggers>
</Configuration>
